{% extends 'base.html.twig' %}

{% block title %}Hello SaisirController!{% endblock %}

{% block body %}
    
<h1> Saisie de la fiche de frais de {{ app.session.get('login') }}</h1>
<br>

    
<h1> Frais au forfait</h1>

{{ form(saisir) }}

{% endblock %}
