{% extends 'base.html.twig' %}

{% block title %}Hello AffichageController!{% endblock %}

{% block body %}
<h1>Menu</h1>
<a href="{{path('consulter',{'mois':5,'annee':2000})}}">consulter</a>
<br>
<a href="{{path('saisir')}}">Saisir</a>
{% endblock %}
